@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap");

.homepageBanner {
  height: 100vh;
  /* width: 98.8889vw; */
  font-family: "Roboto Mono", monospace;
  background-color: #c5e1ec;
  font-size: 2rem;
  color: #004668;
  /* background-image: url("../images/Banner1.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bannerText {
  width: 100vw;
}

.bannerHeading {
  text-align: center;
  font-size: 5rem !important;
  font-family: "Secular One", sans-serif !important;
  padding: 1rem;
}

.bannerSubText {
  text-align: center;
  position: relative;
  font-family: "Moon Dance", cursive !important;
  font-size: 3rem !important;
}

.signInButton {
  text-align: center;
  position: relative;
}
